:root {
  --strength: 0%;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  font-family: serif;

  background-color: beige;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 100px;
}

.music-player {
  position: relative;

  display: flex;
  justify-content: space-around;

  padding: 27px 30px;

  background-color: #fff;

  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
}

.audio-meta {
  width: calc(100% - 15px);
  height: 55px;

  padding: 15px 15px 5px calc(110px + 30px);

  background-color: rgba(255, 255, 255, 0.5);

  border-radius: 15px 15px 0 0;

  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.music-player__audio-meta {
  position: absolute;
  top: 0;

  transform: translateY(0%);

  z-index: -1;

  opacity: 0;
}
.music-player--on .music-player__audio-meta {
  transform: translateY(-100%);

  z-index: 0;

  opacity: 1;
}

.audio-meta__title {
  margin-bottom: 4px;
}

.audio-meta__progress-bar {
  width: 100%;
  height: 4px;

  background-color: rgb(212, 207, 207);

  border-radius: 5px;

  overflow: hidden;

  cursor: pointer;
}
.audio-meta__progress-bar::after {
  content: '';
  display: block;

  width: var(--strength);
  max-width: 100%;
  height: 4px;

  background-color: #fe8daa;

  transition: all 0.3s linear;
}

.music-player__audio-cover {
  position: relative;
}
.audio-cover {
  width: 110px;
}

.audio-cover__disk {
  position: absolute;
  bottom: 0;

  height: 110px;
}
.audio-cover__disk::after {
  content: '';
  display: block;

  position: absolute;
  bottom: calc(50% - (20px / 2));
  left: calc(50% - (20px / 2));

  width: 20px;
  height: 20px;

  background-color: #fff;

  border-radius: 50%;
}

.audio-cover__disk img {
  max-width: 100%;

  object-fit: cover;

  border-radius: 50%;

  animation: rotate 5s linear infinite;
  animation-play-state: paused;
}
.music-player--on .audio-cover__disk img {
  animation-play-state: paused; /*running*/
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.music-player__interactive-panel {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  justify-content: space-around;
  gap: 55px;

  margin-bottom: 7px;
  padding: 0 20px;
}

.control {
  background-color: inherit;
  color: #dfdbdf;

  font-size: 1.25rem;

  border-style: none;

  cursor: pointer;

  outline: none;
}

.control--big {
  color: #cdc2d0;

  font-size: 1.875rem;
}

.music-player__audio-volume {
  align-self: center;

  width: 80%;
  height: 10px;
}
